html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.page {
  background-color: #000000;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section {
  padding: 0.25rem 1.69rem;
  background-color: #212327;
  backdrop-filter: blur(0.31rem);
}
.space-x-20 > *:not(:first-child) {
  margin-left: 1.25rem;
}
.image {
  width: 2.19rem;
  height: 3rem;
}
.text {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: ArchivoNarrow;
  line-height: 1.06rem;
  font-style: italic;
}
.section_2 {
  background-color: #e5e5e5;
  overflow: hidden;
  width: 74.38rem;
  height: 60.44rem;
}
.section_3 {
  padding: 0.63rem 0 50.75rem;
  background-color: #16171b;
  overflow: hidden;
  width: 15.66rem;
  height: 60.47rem;
  border: solid 0.063rem #000000;
}
.text_2 {
  margin-left: 1.88rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: ArchivoNarrow;
  line-height: 0.91rem;
}
.divider {
  margin-top: 0.75rem;
  background-color: #212327;
  height: 0.13rem;
}
.view {
  margin-top: 0.38rem;
}
.text-wrapper {
  margin-top: 0.5rem;
  padding: 0.88rem 0 0.75rem;
  overflow: hidden;
  width: 6.81rem;
  border: solid 0.063rem #f28300;
}
.font_1 {
  font-size: 1rem;
  font-family: ArchivoNarrow;
  line-height: 0.72rem;
  font-weight: 700;
  color: #f28300;
}